.preview-notice .panel-title.dashicons-before::before {
    line-height: 16px;
    padding-right: 3px;
}

.customize-control-title {
    color: #000;
    font-size: 1rem;
    font-weight: 700;
}

#customize-controls .customize-info .panel-title,
#customize-controls .customize-pane-child .customize-section-title h3 {
    font-weight: 700;
}

#customize-controls .customize-pane-child .customize-section-title h3 {
    text-transform: uppercase;
}

#customize-controls .description {
    font-size: 13px;
    font-style: normal;
}

.customize-control-checkbox label {
    color: #222;
    font-size: 1rem;
    font-weight: 700;
}

.evolve-icon::before,
.dashicons,
.dashicons-before::before {
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    margin-right: .5rem;
    vertical-align: middle;
    width: 16px;
}

.customize-control-kirki-custom {
    background-color: #fbeba4;
    border: 1px solid #d7c281;
    border-radius: 3px;
    color: #958234;
    margin-right: 10px;
    padding: 10px;
    width: calc(100% - 20px);
}

#customize-theme-controls .accordion-section-title {
    color: #222;
    font-size: .8rem;
    padding: 10px 20px 10px 15px;
    text-transform: uppercase;
}

#customize-theme-controls #accordion-section-evl-theme-links-main-tab .accordion-section-title {
    background: #41d6cf;
    color: #fff;
}

#customize-theme-controls #accordion-section-evl-theme-links-main-tab .accordion-section-title {
    border-color: #41cbc4;
}

#customize-theme-controls #accordion-section-evl-theme-links-main-tab .accordion-section-title::after {
    color: #fff;
}

#customize-theme-controls #accordion-section-evl-demo-import-main-tab .accordion-section-title {
    background: #eee;
    color: #333;
}

#customize-theme-controls #accordion-section-evl-demo-import-main-tab .accordion-section-title::after {
    color: #333;
}

#customize-controls .control-section:hover > .accordion-section-title,
#customize-controls .control-section .accordion-section-title:hover,
#customize-controls .control-section.open .accordion-section-title,
#customize-controls .control-section .accordion-section-title:focus {
    background-color: #fcfcfc;
    border-left-color: #41cbc4;
    color: #41cbc4;
}

#customize-theme-controls .control-section:hover > .accordion-section-title::after,
#customize-theme-controls .control-section .accordion-section-title:hover::after,
#customize-theme-controls .control-section.open .accordion-section-title::after,
#customize-theme-controls .control-section .accordion-section-title:focus::after,
#customize-outer-theme-controls .control-section:hover > .accordion-section-title::after,
#customize-outer-theme-controls .control-section .accordion-section-title:hover::after,
#customize-outer-theme-controls .control-section.open .accordion-section-title::after,
#customize-outer-theme-controls .control-section .accordion-section-title:focus::after {
    color: #41cbc4;
}

#customize-theme-controls .evolve-features {
    padding: 1rem;
}

#customize-theme-controls .evolve-features li {
    margin-top: 2rem;
}

#customize-theme-controls .evolve-features h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

#customize-theme-controls .evolve-features h3 {
    font-size: 1rem;
    margin-bottom: .5rem;
}

#customize-theme-controls .evolve-features h3::before {
    color: #41cbc4;
    content: "\6b";
    font-family: 'evolve-admin';
    font-size: .8rem;
    margin-right: .6rem;
}

.customize-control-kirki-radio-image label {
    padding: 6px;
}

.wp-full-overlay-sidebar-content {
    background: #fff;
}

li#customize-control-evl_theme_links,
li#customize-control-evl_demo_import {
    background: transparent;
    border-color: transparent;
}

li#customize-control-evl_theme_links,
li#customize-control-evl_demo_import {
    text-align: center;
}

li#customize-control-evl_theme_links a,
li#customize-control-evl_demo_import a {
    left: unset;
    transform: none;
    -ms-transform: none;
    -webkit-transform: none;
}

h3.accordion-section-title.dashicons-before.el {
    display: block;
}

.iris-picker .iris-strip {
    position: absolute !important;
    right: 15px;
    top: 0;
}

#input_evl_pattern img {
    max-height: 80px;
    max-width: 80px;
}

li.kirki-sortable-item[data-value="header"] i.dashicons.dashicons-visibility.visibility,
li.kirki-sortable-item[data-value="blog_post"] i.dashicons.dashicons-visibility.visibility {
    display: none;
}

li.invisible.kirki-sortable-item[data-value="header"] i.dashicons.dashicons-visibility.visibility,
li.invisible.kirki-sortable-item[data-value="blog_post"] i.dashicons.dashicons-visibility.visibility {
    display: inline;
}

.evolve-upgrade-button,
.evolve-upgrade-button:hover,
.evolve-upgrade-button:active,
.evolve-upgrade-button:focus {
    background: #41d6cf;
    border-radius: 2em;
    clear: both;
    color: #fff;
    display: inline-block;
    font-size: .8rem;
    font-weight: 600;
    left: 50%;
    line-height: 1.5;
    margin-top: 1rem;
    padding: .5rem .75rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.evolve-upgrade-button:hover,
.evolve-upgrade-button:active,
.evolve-upgrade-button:focus {
    background: #41cbc4;
    box-shadow: 0 0 0 0.2rem rgba(50, 162, 168, 0.25);
    -webkit-box-shadow: 0 0 0 0.2rem rgba(50, 162, 168, 0.25);
}