/*ExS Energy Styles*/
.singular .comment-content a:not([class]),
.singular #layout article .entry-content a:not([class]){
	text-decoration: underline;
}

.singular .comment-content a:not([class]):hover,
.singular #layout article .entry-content a:not([class]):hover{
	text-decoration: none;
}

/*shop*/
.woocommerce-error,
.woocommerce-info,
.woocommerce-message{
	background-color: var(--colorLight);
}

.woo-count-filter-wrap{
	padding: 7px 15px;
	background-color: var(--colorLight);
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .05);
	border: none;
	border-bottom: solid 3px var(--colorMain);
	border-radius: 3px;
	font-size: 14px;
}

.woo-count-filter-wrap p.woocommerce-result-count,
.woo-count-filter-wrap form.woocommerce-ordering{
	font-size: inherit;
	margin: 0;
}

.woo-count-filter-wrap form.woocommerce-ordering select{
	border: none;
}

.woo-count-filter-wrap p.woocommerce-result-count{
	margin-right: auto;
}

.no-sidebar .woo-count-filter-wrap{
	margin-top: 0;
	margin-left: 0;
}

.woo .woocommerce-loop-product__title{
	font-size: 1.5em;
}

.woo .wc-block-grid__product-onsale,
.woo span.onsale{
	font-size: 10px;
	text-transform: uppercase;
	background-color: var(--colorMain2);
}

.woo ul.products{
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.woo ul.products li.product{
	margin: 0 !important;
	transition: all .2s ease;
	padding: 15px;
}

.woo ul.products li.product .woocommerce-loop-category__title,
.woo ul.products li.product .woocommerce-loop-product__title,
.woo ul.products li.product h3{
	clear: both;
	font-size: 22px;
	padding: .5em 0 .75em;
}

.woo ul.products li.product .product-loop-item{
	background-color: var(--colorLight);
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .05);
	border: none;
	border-bottom: solid 3px var(--colorMain);
	border-radius: 3px;
	padding: 30px;
}

.woo ul.products li.product .product-thumbnail-wrap{
	margin: -30px -30px 0;
}

.woo ul.products li.product .product-text-wrap{
	padding: 15px 0 0;
}

.woo ul.products li.product .show-cat .posted_in,
.woo ul.products li.product .product-rating-wrap{
	margin: 0;
	float: left;
	line-height: 1.3;
	font-size: 14px;
}

.woo ul.products li.product .show-cat .posted_in a,
.woo ul.products li.product .product-rating-wrap a{
	color: var(--colorFontMuted);
}

.woo ul.products li.product .show-cat .posted_in a:hover,
.woo ul.products li.product .product-rating-wrap a:hover{
	color: var(--colorMain);
}

.woo ul.products li.product .product-rating-wrap{
	display: inline-block;
	float: right;
}

.woo ul.products li.product .product-rating-wrap .product-review-link{
	font-size: 14px;
}

.woo ul.products li.product .show-sku .sku_wrapper{
	font-size: 14px;
	margin: 0;
	color: var(--colorFontMuted);
}

.woo ul.products li.product .price{
	padding: 22px 0 5px;
	font-size: 16px;
	font-weight: 700;
	clear: both;
	color: var(--colorMain2);
}

.woo ul.products li.product .price.wc-block-grid__product-price{
	padding-top: 3px;
}

.woo ul.products li.product .hidden + .price{
	padding-top: 5px;
}

.woo ul.products.columns-2 li.product{
	width: 50%;
}

.woo ul.products.columns-3 li.product{
	width: 33.3333%;
}

.woo ul.products.columns-4 li.product{
	width: 25%;
}

.woo ul.products.columns-5 li.product{
	width: 20%;
}

.woo ul.products.columns-6 li.product{
	width: 16.6666%;
}

@media (max-width: 767px) {
	.woo ul.products li.product{
		width: 50% !important;
	}
}

@media (max-width: 480px) {
	.woo ul.products li.product{
		width: 100% !important;
	}
}

.woo.sidebar-left ul.products li.product{
	margin: 0 !important;
}

.woo ul.products.search-results li.product .product-loop-item{
	display: block;
}

#layout .grid-item > .woo{
	padding: 0;
	border: 0;
	box-shadow: none;
}

.widget .product-title{
	font-weight: 700;
}

.woo div.product div.images{
	background-color: var(--colorLight);
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .05);
	border: none;
	border-bottom: solid 3px var(--colorMain);
	border-radius: 3px;
}

.woo div.product div.summary{
	background-color: var(--colorLight);
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .05);
	border: none;
	border-bottom: solid 3px var(--colorMain);
	border-radius: 3px;
	padding: 30px;
}

@media (min-width: 992px) {
	.with-sidebar .woo div.product div.summary{
		padding-right: 2em;
	}

	.sidebar-left .woo div.product div.summary{
		padding-right: 0;
		padding-left: 2em;
	}
}

.woo div.product div.summary .sku_wrapper,
.woo div.product div.summary .posted_in,
.woo div.product div.summary .tagged_as{
	font-size: 14px;
}

.woo div.product .woocommerce-tabs ul.tabs:before{
	border-color: transparent;
}

.woo div.product .woocommerce-tabs ul.tabs li{
	background: none;
	border: none;
}

.woo div.product .woocommerce-tabs ul.tabs li.active{
	border-bottom: 3px solid var(--colorMain);
	background: none;
}

.woo div.product .woocommerce-tabs .panel{
	background-color: var(--colorLight);
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .05);
	border: none;
	border-bottom: solid 3px var(--colorMain);
	border-radius: 3px;
	padding: 30px;
}

.woo div.product .woocommerce-tabs .panel > h2:first-child,
.woo div.product .woocommerce-tabs .panel #comments > h2:first-child{
	font-size: 1.5em;
	margin-bottom: .5em;
}

.woo #reviews label{
	font-size: 14px;
}

.woo #reviews #comments ol.commentlist li{
	margin-bottom: 2em;
}

.woo #reviews #comments ol.commentlist li .comment-text{
	border-width: 0 0 1px 0;
	padding: 0 0 2em 0;
	margin-left: 80px;
}

.woo #reviews #reply-title{
	font-weight: 700;
}

.woo #reviews .form-submit{
	padding-top: 1em;
}

.woo .exs-related-products-wrap.l.m{
	padding: 4em 0;
}

#order_review,
form.checkout .col2-set{
	background-color: var(--colorLight);
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .05);
	border: none;
	border-bottom: solid 3px var(--colorMain);
	border-radius: 3px;
	padding: 30px;
}

.entry-title{
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
}

.entry-footer{
	margin-bottom: 1.5em;
}

#layout .grid-item .entry-title{
	font-size: 1.35em;
}

#layout .grid-item .post-thumbnail + .item-content .entry-title{
	padding: .5em 0 .15em;
}

#layout .grid-item > *{
	height: 100%;
	position: relative;
	background-color: var(--colorLight);
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .05);
	border: none;
	border-bottom: solid 3px var(--colorMain);
	border-radius: 3px;
	padding: 15px;
}

@media (min-width: 600px) {
	#layout .grid-item > *{
		padding: 30px;
	}
}

.hfeed #layout > article,
.hfeed #layout .grid-item > article{
	background-color: var(--colorLight);
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .05);
	border: none;
	border-bottom: solid 3px var(--colorMain);
	border-radius: 3px;
	padding: 15px;
}

.hfeed #layout > article > .post-thumbnail,
.hfeed #layout > article > .content-absolute,
.hfeed #layout .grid-item > article > .post-thumbnail,
.hfeed #layout .grid-item > article > .content-absolute{
	width: calc(100% + 30px);
	max-width: calc(100% + 30px);
	margin: -15px -15px 0;
}

@media (min-width: 600px) {
	.hfeed #layout > article,
	.hfeed #layout .grid-item > article{
		padding: 30px;
	}

	.hfeed #layout > article > .post-thumbnail,
	.hfeed #layout > article > .content-absolute,
	.hfeed #layout .grid-item > article > .post-thumbnail,
	.hfeed #layout .grid-item > article > .content-absolute{
		width: calc(100% + 60px);
		max-width: calc(100% + 60px);
		margin: -30px -30px 0;
	}
}

.hfeed #layout.layout-side-alter > article > .post-thumbnail,
.hfeed #layout.layout-side > article > .post-thumbnail{
	width: 100%;
	max-width: 100%;
	margin: 0 30px 0 0;
}

.hfeed #layout.layout-side-alter > article > .post-thumbnail{
	width: 100%;
	max-width: 100%;
}

#layout .side-item.has-post-thumbnail.article-even > .post-thumbnail{
	margin: 0 0 0 30px;
}

.hfeed #layout.layout-meta-top article > .post-thumbnail{
	margin-top: 0;
}

.hfeed #layout .grid-item > article > .post-thumbnail{
	margin-bottom: 1em;
}

#layout.layout-title-only article + article{
	margin-top: 30px;
}

#layout.layout-cols-absolute-no-meta .grid-item > article,
#layout.layout-cols-absolute .grid-item > article{
	padding-bottom: 0;
}

.search .search-form-wrap{
	background-color: var(--colorLight);
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .05);
	border: none;
	border-bottom: solid 3px var(--colorMain);
	border-radius: 3px;
	background-color: var(--colorLight);
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .05);
	border: none;
	border-bottom: solid 3px var(--colorMain);
	border-radius: 3px;
	padding: 15px;
}

@media (min-width: 600px) {
	.search .search-form-wrap{
		padding: 30px;
	}
}

.search article p:last-child,
.search .entry-header:only-child h2{
	margin-bottom: 0;
}

.single #layout > article,
.related-posts,
.post-nav,
.author-meta,
.comments-area{
	background-color: var(--colorLight);
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .05);
	border: none;
	border-bottom: solid 3px var(--colorMain);
	border-radius: 3px;
	padding: 15px;
}

@media (min-width: 600px) {
	.single #layout > article,
	.related-posts,
	.post-nav,
	.author-meta,
	.comments-area{
		padding: 30px;
	}
}

.comments-title{
	font-size: 1.6em;
	margin-bottom: 1.5em;
}

#layout .related-posts{
	padding-bottom: 10px;
}

#layout .related-posts .grid-item > *{
	padding: 0;
	border: 0;
	box-shadow: none;
}