#customize-controls .control-section-urja-solar-energy .accordion-section-title:hover,
#customize-controls .control-section-urja-solar-energy .accordion-section-title:focus {
	background-color: #fff;
}
.control-section-urja-solar-energy .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}
.rtl .control-section-urja-solar-energy .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}

li#customize-control-urja_solar_energy_logo_top_padding,
li#customize-control-urja_solar_energy_logo_bottom_padding,
li#customize-control-urja_solar_energy_logo_left_padding,
li#customize-control-urja_solar_energy_logo_right_padding{
    clear: none;
    width: 22%;
    margin-right: 10px;
}
li#customize-control-urja_solar_energy_logo_right_padding{
    margin: 0;
}
input#_customize-input-urja_solar_energy_logo_padding{
    display: none;
}
li#customize-control-urja_solar_energy_logo_padding{
    margin-bottom: 0;
}
span#_customize-description-urja_solar_energy_logo_top_padding,
span#_customize-description-urja_solar_energy_logo_bottom_padding,
span#_customize-description-urja_solar_energy_logo_left_padding,
span#_customize-description-urja_solar_energy_logo_right_padding{
    font-weight: 600;
}